In [16]:
import pandas as pd
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver

#driver = webdriver.PhantomJS(executable_path='C:/Users/USER/Desktop/BOAZ/BOAZ 시각화 세션/chromedriver')
driver = webdriver.Chrome(executable_path='C:/Users/USER/Desktop/BOAZ/BOAZ 시각화 세션/chromedriver')
driver.maximize_window()
import time
import re
import datetime
from tqdm import tqdm

In [24]:
for i in range(144,145):
    url='https://www.juso.go.kr/info/RoadNameDataList.do?currentPage={}&countPerPage=10&&city1=11&county1=590&town1=&keyword=&roadCd=&searchType=0&extend=true'.format(i)
    time.sleep(1)
    driver.get(url)
    time.sleep(1)
    for j in range(1,11): #각 도로명 클릭
        driver.find_element_by_xpath('/html/body/div[2]/div/div/main/div/div[3]/'
                                     +'table/tbody/tr[{}]/td[3]/a[1]'.format(j)).click()
        time.sleep(2)
        html= driver.page_source
        soup= BeautifulSoup(html, 'lxml')
        name.append(soup.select('h2#title_addr_detail')[0].get_text().split()[-1])
        length.append(soup.select('td#RoadLt')[0].get_text())
        driver.get(url)
        time.sleep(2)

In [36]:
df.to_csv('C:/Users/USER/Desktop/동작구 공모전/도로길이data4.csv')

In [37]:
name=list(set(name))

In [38]:
length=list(set(length))

In [31]:
df

            도로명       길이
0         남부순환로    32620
1         남부순환로    32620
2          동작대로     5071
3          동작대로     5071
4          동작대로     5071
...         ...      ...
1422  여의대방로24아길       61
1423   여의대방로20길  339.977
1424   여의대방로20길  339.977
1425     국사봉10길      552
1426     국사봉12길      187

[1427 rows x 2 columns]